@import "tailwindcss";

a{
    text-decoration: none;
    color: black;
}

.ant-btn.button {
    height: unset;
    padding: 5px 10px;
    background: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.rounded {
    border-radius: 8px;
}

.ant-btn.button.primary {
    background: #3892C6;
    color: white;
    border: 2px solid #3892C6;
}

.ant-btn.button.primary:hover {
    background: white;
    color: #3892C6;
    border: 2px solid #3892C6;
}

.ant-btn.button.secondary {
    background: white;
    color: #3892C6;
    border: 2px solid #3892C6;
}

.ant-btn.button.secondary:hover {
    background: white;
    color: black;
    border: 2px solid black;
}